parallel/admin/parallel_utemterv_bsc.tex
parallel/admin/parallel_utemterv_msc.tex
parallel/algorithms/amoba/Amoba.css
parallel/algorithms/amoba/Amoba.html
parallel/algorithms/amoba/Amoba.js
parallel/algorithms/amoba/empty.png
parallel/algorithms/amoba/hover_O.png
parallel/algorithms/amoba/hover_X.png
parallel/algorithms/amoba/sign_O.png
parallel/algorithms/amoba/sign_X.png
parallel/algorithms/amoba/winner_O.png
parallel/algorithms/amoba/winner_X.png
parallel/algorithms/mpi_samples/guess_red.c
parallel/algorithms/mpi_samples/guess_reduced.c
parallel/algorithms/mpi_samples/guess.c
parallel/algorithms/mpi_samples/hello.c
parallel/algorithms/mpi_samples/master_slave.c
parallel/algorithms/mpi_samples/send_message.c
parallel/algorithms/openmp/01_hello.c
parallel/algorithms/openmp/02_implicit_barrier.c
parallel/algorithms/openmp/03_pi.c
parallel/algorithms/openmp/04_pi.c
parallel/algorithms/openmp/05_nowait.c
parallel/algorithms/openmp/06_mastery.c
parallel/algorithms/openmp/07_reduction.c
parallel/algorithms/openmp/08_locks.c
parallel/algorithms/openmp/09_sections.c
parallel/algorithms/posix/aggregation.c
parallel/algorithms/posix/existence.c
parallel/algorithms/posix/mapping.c
parallel/algorithms/posix/mergesort.c
parallel/algorithms/posix_basics/01_waiter.c
parallel/algorithms/posix_basics/02_waiter_args.c
parallel/algorithms/posix_basics/03_waiter_times.c
parallel/algorithms/posix_basics/04_lost_update.c
parallel/algorithms/posix_basics/05_lost_update_mutexed.c
parallel/algorithms/posix_basics/06_savior.c
parallel/algorithms/posix_basics_linux/01_waiter.c
parallel/algorithms/posix_basics_linux/02_waiter_args.c
parallel/algorithms/posix_basics_linux/03_waiter_times.c
parallel/algorithms/posix_basics_linux/04_lost_update.c
parallel/algorithms/posix_basics_linux/05_lost_update_mutexed.c
parallel/algorithms/posix_basics_linux/06_savior.c
parallel/algorithms/sequential/mapping.c
parallel/algorithms/sequential/mergesort.c
parallel/algorithms/sequential/quicksort.c
parallel/algorithms/shared_stack/Makefile
parallel/algorithms/shared_stack/include/stack.h
parallel/algorithms/shared_stack/src/main.c
parallel/algorithms/shared_stack/src/stack.c
parallel/algorithms/sudoku/Makefile
parallel/algorithms/sudoku/include/sudoku.h
parallel/algorithms/sudoku/include/utils.h
parallel/algorithms/sudoku/src/main.c
parallel/algorithms/sudoku/src/sudoku.c
parallel/algorithms/sudoku/src/utils.c
parallel/jegyzet/.gitignore
parallel/jegyzet/conf.py
parallel/jegyzet/index.rst
parallel/jegyzet/Makefile
parallel/jegyzet/requirements.txt
parallel/jegyzet/pages/bsc/topic_01.rst
parallel/jegyzet/pages/bsc/topic_02.rst
parallel/jegyzet/pages/bsc/topic_03.rst
parallel/jegyzet/pages/bsc/topic_04.rst
parallel/jegyzet/pages/bsc/topic_05.rst
parallel/jegyzet/pages/bsc/topic_06.rst
parallel/jegyzet/pages/bsc/topic_07.rst
parallel/jegyzet/pages/bsc/topic_08.rst
parallel/jegyzet/pages/bsc/topic_09.rst
parallel/jegyzet/pages/bsc/topic_10.rst
parallel/jegyzet/pages/bsc/topic_11.rst
parallel/jegyzet/pages/bsc/topic_12.rst
parallel/jegyzet/pages/bsc/topic_13.rst
parallel/jegyzet/pages/bsc/topic_14.rst
parallel/jegyzet/pages/bsc/images/brick.dia
parallel/jegyzet/pages/bsc/images/brick.png
parallel/jegyzet/pages/bsc/images/call_tree.dia
parallel/jegyzet/pages/bsc/images/call_tree.png
parallel/jegyzet/pages/bsc/images/gantt_diagram.dia
parallel/jegyzet/pages/bsc/images/gantt_diagram.png
parallel/jegyzet/pages/bsc/images/local_memory.dia
parallel/jegyzet/pages/bsc/images/local_memory.png
parallel/jegyzet/pages/bsc/images/modular_memory.dia
parallel/jegyzet/pages/bsc/images/modular_memory.png
parallel/jegyzet/pages/bsc/images/network_topology.dia
parallel/jegyzet/pages/bsc/images/network_topology.png
parallel/jegyzet/pages/bsc/images/optimal_prefix.dia
parallel/jegyzet/pages/bsc/images/optimal_prefix.png
parallel/jegyzet/pages/bsc/images/pipeline.dia
parallel/jegyzet/pages/bsc/images/pipeline.png
parallel/jegyzet/pages/bsc/images/producer_consumer.dia
parallel/jegyzet/pages/bsc/images/producer_consumer.png
parallel/jegyzet/pages/bsc/images/sequence_diagram.dia
parallel/jegyzet/pages/bsc/images/sequence_diagram.png
parallel/jegyzet/pages/bsc/images/shared_memory.dia
parallel/jegyzet/pages/bsc/images/shared_memory.png
parallel/jegyzet/pages/bsc/images/space_partition.dia
parallel/jegyzet/pages/bsc/images/space_partition.png
parallel/jegyzet/pages/bsc/images/actor_model/actors.dia
parallel/jegyzet/pages/bsc/images/actor_model/actors.png
parallel/jegyzet/pages/bsc/images/csp/many_to_one.dia
parallel/jegyzet/pages/bsc/images/csp/many_to_one.png
parallel/jegyzet/pages/bsc/images/csp/one_to_many.dia
parallel/jegyzet/pages/bsc/images/csp/one_to_many.png
parallel/jegyzet/pages/bsc/images/numerical/matrix_speedup.png
parallel/jegyzet/pages/bsc/images/numerical/scalar_en_1.png
parallel/jegyzet/pages/bsc/images/numerical/scalar_en_2.png
parallel/jegyzet/pages/bsc/images/numerical/scalar_sn_1.png
parallel/jegyzet/pages/bsc/images/numerical/scalar_sn_2.png
parallel/jegyzet/pages/bsc/images/promises/states.dia
parallel/jegyzet/pages/bsc/images/promises/states.png
parallel/jegyzet/pages/bsc/images/ranking/list.dia
parallel/jegyzet/pages/bsc/images/ranking/list.png
parallel/jegyzet/pages/bsc/images/topologies/bus.dia
parallel/jegyzet/pages/bsc/images/topologies/bus.png
parallel/jegyzet/pages/bsc/images/topologies/fattree.dia
parallel/jegyzet/pages/bsc/images/topologies/fattree.png
parallel/jegyzet/pages/bsc/images/topologies/grid.dia
parallel/jegyzet/pages/bsc/images/topologies/grid.png
parallel/jegyzet/pages/bsc/images/topologies/hypercube.dia
parallel/jegyzet/pages/bsc/images/topologies/hypercube.png
parallel/jegyzet/pages/bsc/images/topologies/ring.dia
parallel/jegyzet/pages/bsc/images/topologies/ring.png
parallel/jegyzet/pages/bsc/images/topologies/torus.dia
parallel/jegyzet/pages/bsc/images/topologies/torus.png
parallel/jegyzet/pages/bsc/images/topologies/tree.dia
parallel/jegyzet/pages/bsc/images/topologies/tree.png
parallel/jegyzet/pages/bsc_19_20_2/gyak_1.rst
parallel/jegyzet/pages/bsc_19_20_2/gyak_2.rst
parallel/jegyzet/pages/bsc_19_20_2/gyak_3.rst
parallel/jegyzet/pages/bsc_19_20_2/gyak_4.rst
parallel/jegyzet/pages/bsc_19_20_2/gyak_5.rst
parallel/jegyzet/pages/bsc_19_20_2/gyak_6.rst
parallel/jegyzet/pages/bsc_19_20_2/gyak_7.rst
parallel/jegyzet/pages/bsc_19_20_2/index.rst
parallel/jegyzet/pages/msc/index.rst
parallel/jegyzet/pages/msc/mil_1.rst
parallel/jegyzet/pages/msc/mil_2.rst
parallel/jegyzet/pages/msc/mil_3.rst
parallel/jegyzet/pages/msc/mil_4.rst
parallel/jegyzet/pages/msc/mil_5.rst
parallel/jegyzet/pages/msc/mpi.rst
parallel/jegyzet/pages/msc/images/brick.dia
parallel/jegyzet/pages/msc/images/brick.png
parallel/jegyzet/pages/msc/images/call_tree.dia
parallel/jegyzet/pages/msc/images/call_tree.png
parallel/jegyzet/pages/msc/images/gantt_diagram.dia
parallel/jegyzet/pages/msc/images/gantt_diagram.png
parallel/jegyzet/pages/msc/images/local_memory.dia
parallel/jegyzet/pages/msc/images/local_memory.png
parallel/jegyzet/pages/msc/images/modular_memory.dia
parallel/jegyzet/pages/msc/images/modular_memory.png
parallel/jegyzet/pages/msc/images/network_topology.dia
parallel/jegyzet/pages/msc/images/network_topology.png
parallel/jegyzet/pages/msc/images/pipeline.dia
parallel/jegyzet/pages/msc/images/pipeline.png
parallel/jegyzet/pages/msc/images/producer_consumer.dia
parallel/jegyzet/pages/msc/images/producer_consumer.png
parallel/jegyzet/pages/msc/images/sequence_diagram.dia
parallel/jegyzet/pages/msc/images/sequence_diagram.png
parallel/jegyzet/pages/msc/images/shared_memory.dia
parallel/jegyzet/pages/msc/images/shared_memory.png
parallel/jegyzet/pages/msc/images/space_partition.dia
parallel/jegyzet/pages/msc/images/space_partition.png
parallel/notebooks/.gitignore
parallel/notebooks/plotter.ipynb
parallel/notebooks/requirements.txt
parallel/notebooks/topologies.ipynb
parallel/vizsga/bsc/.gitignore
parallel/vizsga/bsc/exercise_generator.ipynb
parallel/vizsga/bsc/exercise_printer.ipynb
parallel/vizsga/bsc/exercises/ea_1.yaml
parallel/vizsga/bsc/exercises/ea_2.yaml
parallel/vizsga/bsc/exercises/ea_3.yaml
parallel/vizsga/bsc/exercises/ea_4.yaml
parallel/vizsga/bsc/exercises/ea_5.yaml
parallel/vizsga/bsc/exercises/ea_6.yaml
parallel/vizsga/msc/.gitignore
parallel/vizsga/msc/exercise_generator.ipynb
parallel/vizsga/msc/exercise_printer.ipynb
parallel/vizsga/msc/exercises/ea_1.yaml
parallel/vizsga/msc/exercises/ea_2.yaml
parallel/vizsga/msc/exercises/ea_3.yaml
parallel/vizsga/msc/exercises/ea_4.yaml
parallel/vizsga/msc/exercises/ea_5.yaml
parallel/zv/zv_tetel_7_8_9.tex
parallel/README.md
